.socials_list {
  display: flex;
  gap: var(--spacing-s);
  opacity: .9;
}
.social_link {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .socials_list {
    gap: var(--spacing-m);
  }
}