.blog_section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--spacing-m);
  max-width: 1230px;
}

.blog_heading_wrapper {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
}

.blog_posts_container {
  display: grid;
  gap: var(--spacing-m);
  width: 100%;
}

@media (min-width: 768px) {
  .blog_posts_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .blog_posts_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
