.home_sections {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}
.about_section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-s);
  max-width: 1230px;
  padding-top: var(--spacing-s);
}
.about_section_description {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}
.about_section_links {
  display: flex;
  flex-direction: row;
  gap: var(--spacing-s);
}
.projects_section {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-m);
}
.projects_wrapper {
  display: grid;
  gap: var(--spacing-m);
}

@media (min-width: 768px) {
  .about_section_description {
    max-width: 550px;
    font-size: var(--font-size-l);
  }
  .projects_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .home_sections {
    gap: var(--spacing-xl);
  }
}
