.post {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-m);
  border-radius: 10px;
  background-color: var(--color-grey);
  color: inherit;
}
.post_heading {
  font-size: var(--font-size-l);
  color: var(--color-primary);
}
.post_image_wrapper {
  display: flex;
  max-height: 150px;
  overflow: hidden;
  margin-top: auto;
  border-radius: 4px;
}
.post_image {
  object-fit: cover;
}
.post_brief {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

@media (min-width: 768px) {
  .post {
    gap: var(--spacing-s);
  }
}